.bicicletas-bg:nth-child(odd) {
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%)
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: start;
    background: url(../../img/dec/top-right.svg) no-repeat top 40px right 20px;
}

.bicicletas__imagem {
    display: grid;
}

.bicicletas__imagem img {
    grid-area: 1/1;
}

.bicicletas__imagem span {
    grid-area: 1/1;
    place-self: start end;
    margin-top: 20px;
    background-color: var(--cor-12);
    border-radius: 4px 0 0 4px;
    padding: 8px 16px 8px 8px;
    display: inline-block;
}

.bicicletas__conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.bicicletas__conteudo h2,
.bicicletas__conteudo p {
    grid-column: 1/-1;
}

.bicicletas__conteudo h2 {
    margin-bottom: 20px;
}

.bicicletas__conteudo p {
    margin-bottom: 32px;
}

.bicicletas__conteudo h2::before {
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
}

.bicicletas__conteudo a {
    place-self: end;
}

.bicicletas__conteudo li {
    display: flex;
    align-items: center;
}

.bicicletas__conteudo li + li {
    margin-top: 16px;
}

.bicicletas__conteudo img {
    width: 24px;
    margin-right: 8px;
    display: inline-block;
}

.bicicletas__conteudo a img {
    margin-left: 8px;
}

@media (max-width: 800px) {
    .bicicletas-bg:nth-child(odd){
        background: var(--cor-11);
    }
    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .bicicletas__conteudo {
        grid-template-columns: 1fr;
    }
    .bicicletas__conteudo a {
        place-self: start;
    }
    .bicicletas ul {
        font-size: 1rem;
        margin-bottom: 32px;
    }
}