*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    font-size: 20px;
}

#bikcraft {
    font-size: 40px;
    margin-top: 50px;
}

#menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
}

#menu > a {
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

.grid-descricao {
    background-color: #ffffff;
    display: grid;
    align-content: center;
    justify-items: end;
    text-align: right;
    gap: 20px;
    padding: 40px;
    position: relative;
}

.img {
    max-width: 100%;
    display: block;
}

#vermais {
    background-color: #ee2211;
    padding: 15px 30px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
}

#detalhe {
    width: 60px;
    height: 4px;
    background-color: #ee2211;
    position: absolute;
    top: 40px;
    right: -30px;
}

#vantagens{
    color: rgba(0, 0, 0, 0.26);
    font-size: 64px;
    align-self: center;
    text-align: right;
    padding: 40px;
    text-transform: uppercase;
}

#div-itens {
    background-color: #ffffff;
    padding: 40px;
}
.grid-itens {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    margin: 20px;
}

.grid-itens > img {
    grid-column: 1;
    margin-right: 20px;
}

.grid-itens > p {
    grid-column: 2;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    max-width: 100%;
}
