.footer {
    background-color: #000000;
    color: #FFFFFF;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer__text {
    font-size: 1.5rem;
    line-height: 1.33;
    color: #CCCCCC;
}

.footer__contact li {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer__contact li  a{
    color: #FFFFFF;
}

.footer__copy {
    font-size: 1.125rem;
    color: #8f8f8f;
    grid-column: 1, -1;
}

@media (max-width: 800px) {
    .footer__container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .footer__contact li {
        font-size: 1.5rem;
    }
}